[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.12"
djangorestframework = "==3.13.0"
django-cors-headers = "==3.2.1"
pyyaml = "*"
requests = "*"

[dev-packages]
black = "==21.7b0"

[requires]
python_version = "3.8"
